#Matched{
    display: grid;
    grid-template-columns: 370px 370px 370px 370px;
    grid-template-rows: 200px 200px 200px  ;
    gap: 10px;
}









#OneReq{
    background-color: rgb(189, 189, 189);
    height: 200px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: medium;
}

#fullname{
    font-size: 1.3em ;
    position: absolute;
    left : 5% ;
    color: rgb(129, 3, 3);
}

#bloodtype{
    font-size: 1.3em ;
    position: absolute;
    top: 13%;
    left : 5% ;
    color: rgb(129, 3, 3);
}

#hospital{
    font-size: 1.3em ;
    position: absolute;
    top: 27%;
    left : 5% ;
    color: rgb(129, 3, 3);
}

#phone{
    font-size: 1.3em ;
    position: absolute;
    top: 40%;
    left : 5% ;
    color: rgb(129, 3, 3);
}

#location{
    font-size: 1.3em ;
    position: absolute;
    top: 52%;
    left : 5% ;
    color: rgb(129, 3, 3);
}

#date{
    font-size: 1.3em ;
    position: absolute;
    top: 66%;
    left : 5% ;
    color: rgb(129, 3, 3);
}

#conf{
    position: absolute;
    font-size: 1.1cm;
    top: 78%;
    left: 89%;
    cursor: pointer;
    color: rgb(129, 3, 3);
}


#dec{
    position: absolute;
    font-size: 1.1cm;
    top: 1%;
    left: 89%;
    cursor: pointer;
    color: rgb(129, 3, 3);
}

#conf:hover{
    color: rgb(74, 74, 75);
}

#dec:hover{
    color: rgb(74, 74, 75);
}