#MyRequset3{
    display: grid;
    grid-template-columns: 370px 370px 370px 370px;
    grid-template-rows: 160px 160px 160px 160px ;
    gap: 10px;
    
}


.ConCandidates{
    background-color: rgb(189, 189, 189);
    height: 150px;
    
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: medium;
}

#fullName1{
    font-size: 1.4em ;
  position: absolute;
  top: 1%;
  left : 5% ;
  color: rgb(129, 3, 3);

}

#bloodType1{
    font-size: 1.4em ;
    position: absolute;
    top: 25%;
     left : 5% ;
     color: rgb(129, 3, 3);
}

#phoneNumber1{
    font-size: 1.4em ;
    position: absolute;
    top: 50%;
    left : 5% ;
    color: rgb(129, 3, 3);
}
